<!DOCTYPE html>
<html>
<head>
  <title>SixteenEighteen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- gmail verification -->
  <meta name="google-site-verification" content="i0-xPtTKW9T2lZyD6OmASDwWA0y2cmyDhWOugkPnrzM" />
</head>
<body>

<%= yield %>

</body>
</html>
